@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .header {
        &__logo {
            width: 300px;
        }
        &__official {
            font-size: 20px;
            span {
                font-size: 25px;
            }
        }
        &__phone {
            font-size: 22px;
        }
    }
    .button {
        width: 200px;
        height: 45px;
        font-size: 20px;
        &_main {
            width: 400px;
            height: 60px;
            font-size: 23px;
        }
        &_subbmit {
            width: 100%;
            height: 55px;
            background-color: #c70101;
            font-size: 16px;
        }
    }
    .promo {
        &__header {
            font-size: 50px;

        }
        &__subheader {
            font-size: 25px;
        }
        &__icons {
            width: 474px;
            .promo__icon {
            font-size: 20px;
            }
        }
        &__link {
            font-size: 23px;
        }
    }
    .advantages {
        .title {
            font-size: 40px;
        }
        &__item {
            max-width: 300px;
        }
        &__subtitle {
            font-size: 25px;
        }
        &__descr {
            font-size: 20px;
        }
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .container {
        width: 992px;
    }
    .header {
        &__official {
            span {
                font-size: 20px;
            }
        }
    }
    .button {
        font-size: 14px;
        &_main {
            font-size: 18px;
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .container {
        width: 768px;
    }
    .header {
        justify-content: space-around;
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 13px;
            span {
                font-size: 18px;
            }
        }
    }
    .promo {
        &__header {
            font-size: 38px;
            line-height: 38px;
        }
        &__wrapper {
            margin-top: 50px;
            margin-right: 38px;
        }
    }
    .advantages {
        &__wrapper {
            justify-content: space-around;
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        min-width: 85%;
        max-width: 530px;
    }
    .header {
        &__official {
            font-size: 13px;
            span {
                font-size: 17px;
            }
        }
        &__logo {
            width: 180px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 137px;
        height: 23px;
        font-size: 13px;
        &_main {
            width: 150px;
            height: 50px;
            font-size: 17px;
        }
    }
    .promo {
        min-height: 570px;
        padding: 21px 0 0 0 ;
        &__icons {
            width: 510px;
            .promo__icon {
                width: 160px;
                font-size: 17px;
            }
        }
        &__wrapper {
            align-items: center;
            margin-top: 30px;
        }
        &__header {
            font-size: 30px;
            line-height: 30px;
        }
        &__subheader {
            font-size: 20px;
            margin-top: 7px;
            line-height: 20px;
        }
    }
    .advantages {
        padding: 50px 0 50px 0;
        &__wrapper {
            margin-top: 39px;
            min-height: 300px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
        &__item > img {
            width: 80px;
            height: 80px;
        }
    }

}