@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
    .header {
        &__logo {
            width: 300px;
        }
        &__official {
            font-size: 20px;
            span {
                font-size: 25px;
            }
        }
        &__phone {
            font-size: 22px;
        }
    }
    .button {
        width: 200px;
        height: 45px;
        font-size: 20px;
        &_main {
            width: 400px;
            height: 60px;
            font-size: 23px;
        }
        &_subbmit {
            width: 100%;
            height: 55px;
            background-color: #c70101;
            font-size: 16px;
        }
        &_mini {
            width: 131px;
            height: 40px;
            font-size: 14px;
        }
    }
    .promo {
        &__header {
            font-size: 50px;

        }
        &__subheader {
            font-size: 25px;
        }
        &__icons {
            width: 474px;
            .promo__icon {
            font-size: 20px;
            }
        }
        &__link {
            font-size: 23px;
        }
    }
    .advantages {
        .title {
            font-size: 40px;
        }
        &__item {
            max-width: 300px;
        }
        &__subtitle {
            font-size: 25px;
        }
        &__descr {
            font-size: 20px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}
@media (min-width: 992px) and (max-width: 1199.98px){
    .consultation {
        .container {
            max-width: 880px;
        }
    }
    .container {
        width: 880px;
    }
    .header {
        &__official {
            span {
                font-size: 20px;
            }
        }
    }
    .button {
        font-size: 14px;
        &_main {
            font-size: 18px;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
}
@media (min-width: 768px) and (max-width: 991.98px){
    .consultation {
        .title {
            &_left {
                font-size: 30px;
            }
        }
    }
    .container {
        width: 670px;
    }
    .header {
        justify-content: space-around;
        &__logo {
            width: 200px;
        }
        &__official {
            font-size: 13px;
            span {
                font-size: 18px;
            }
        }
    }
    .promo {
        &__header {
            font-size: 38px;
            line-height: 38px;
        }
        &__wrapper {
            margin-top: 50px;
            margin-right: 38px;
        }
    }
    .advantages {
        padding: 70px 0 0 0 ;
        &__wrapper {
            justify-content: space-around;
        }
    }
    .catalog {
        &__content {
            justify-content: space-around;
        }
    }
    .reviews {
        &__img{
            margin-top: 50px;
        }
    }
}
@media (min-width: 576px) and (max-width: 767px) {
    .container {
        width: 530px;
    }
    .consultation {
        .title {
            &_left {
                font-size: 20px;
            }
        }
        .button {
            &_subbmit {
                width: 100%;
                height: 50px;
            }
        }
    }
    .header {
        &__official {
            font-size: 13px;
            span {
                font-size: 17px;
            }
        }
        &__logo {
            width: 180px;
        }
        &__phone {
            font-size: 15px;
        }
    }
    .button {
        width: 137px;
        height: 23px;
        font-size: 13px;
        &_main {
            width: 150px;
            height: 50px;
            font-size: 17px;
        }
    }
    .promo {
        min-height: 570px;
        padding: 21px 0 0 0 ;
        &__icons {
            width: 510px;
            .promo__icon {
                width: 160px;
                font-size: 17px;
            }
        }
        &__wrapper {
            align-items: center;
            margin-top: 30px;
        }
        &__header {
            font-size: 30px;
            line-height: 30px;
        }
        &__subheader {
            font-size: 20px;
            margin-top: 7px;
            line-height: 20px;
        }
    }
    .advantages {
        .title {
            font-size: 27px;
        }
        padding: 50px 0 50px 0;
        &__wrapper {
            margin-top: 39px;
            min-height: 300px;
        }
        &__subtitle {
            font-size: 14px;
        }
        &__descr {
            font-size: 12px;
        }
        &__item > img {
            width: 80px;
            height: 80px;
        }
    }
    .carousel {
        padding: 25px 0;
        &__inner {
            width: 500px;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .catalog {
        .title {
            font-size: 27px;
        }
        &__content {
            justify-content: center;
        }
        &__tabs {
            margin-top: 35px;
        }
        &__tab {
            width: 160px;
            font-size: 16px;
        }
        &-item {
            width: 350px;
        }
    }
    .reviews {
        .title {
            font-size: 27px;
            margin-bottom: 40px;
        }
        &-item {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__img {
            margin-right: 0px;
        }
        &__story {
            text-align: center;
        }
        &__name {
            margin-top: 15px;
            text-align: center;
        }
        &__status {
            text-align: center;
        }
    }
}